h1,h2,h3,h4 {
text-align: center;
color: #A63A9E;
}

h {
	text-decoration: underline;
}

x {
font-weight: bold;
}

xx {
	font-style: italic;
}
p {
color: green;
}
x {
color: orange;
}
x1 {
color:red;
}
a {
color:blue;
}

.green{
	color
}
